* {
    margin: 0;
    padding: 0;
    list-style: none;
    letter-spacing: 4px;
    font-size: 13px;
    box-sizing: content-box;

}

input {
    width: 15rem;
    height: 15px;
    margin-left: auto;
    margin-top: 5px;
    padding: 10px;
    background-color: transparent;
    letter-spacing: 2px;
    font-size: 12px;

}
button {
    width: 100px;
    height: 50px;
    margin-left: 30%;
    margin-top: 15px;
    background-color: rgba(90, 127, 122, 0.42);
    color: white;
    border: 2px solid rgba(19, 54, 40, 0.73);
    transition: background-color .5s
}
button:hover{
    background-color: rgba(19, 54, 40, 0.73);
    color: rgba(90, 127, 122, 0.42)
}
label {
    margin: 5px;
}
body{
    min-height:100%;
    background-image:url("bg2.jpeg");
    background-repeat:no-repeat;
    background-size: cover;
}
.container {
    color: #070606;
    padding: 10% 50px 20px 50px;
    font-family: 'Nunito Sans', sans-serif;
}

.container-register {
    margin-left: 30%;
    margin-right: 10px;

}

.container-login {
    margin-left: 30%;
    margin-right: 10px;
}

h3 {
    font-size: 25px;
    letter-spacing: 1px;
}
.container-pagination{
    display:inline-block;

}
.container-pagination nav {
    padding: 10px;
    margin: 10px;
}

.container-pagination nav ul {
    display: inline;
    margin: 0 0 2px 2px;
    text-align: center;
}
.container-pagination nav ul a{
    background-color:transparent;
    display:inline;
    padding: 8px 16px;
    border:1px solid #fff;
    text-decoration: none;
    margin-bottom:0;
}
.container-pagination a{
    background-color: #4CAF50;
    color: white;
}
.pagination a:hover{background-color: #ddd;}
.container-pagination nav ul a:hover{
    background-color:#fff;
    color:black;

}

.container-register div form {
    margin: 5px;
}
